* {
  margin: 0;
  padding: 0;
  outline: none !important;
  outline-width: 0 !important;
  position: relative;
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: lightgrey; }

.main.container {
  width: 65%;
  height: 100%;
  margin-left: 17.5%;
  background-color: #ededed;
  padding: 2.5%; }
  .main.container .token.container {
    width: 100%;
    height: 40%;
    overflow: hidden;
    cursor: pointer; }
    .main.container .token.container .img {
      background: url("../chimp.jpg");
      background-size: cover;
      height: 100%;
      width: 100%; }
      .main.container .token.container .img.ready {
        border: 5px solid #1aaf1a; }
        .main.container .token.container .img.ready:after {
          content: "";
          display: inline-block;
          background-image: url("../check_mark.svg");
          background-repeat: no-repeat;
          background-size: cover;
          width: 4rem;
          height: 4rem;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%); }
    .main.container .token.container h1 {
      color: white;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      text-align: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-bottom: 1rem;
      font-size: 4rem;
      font-variant: small-caps;
      font-weight: bold; }
  .main.container .tags.container {
    width: 100%;
    height: 50%; }
    .main.container .tags.container .checkbox {
      color: #000041;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35%;
      width: 100%;
      margin: 2.5% 0;
      background-color: #9dd0e1;
      border-radius: 7px;
      border: 5px solid #5354FF;
      cursor: pointer;
      font-size: 3rem;
      font-family: sans-serif;
      font-weight: bold;
      letter-spacing: 0.3rem;
      text-transform: lowercase; }
      .main.container .tags.container .checkbox:hover {
        background-color: #5354FF; }
      .main.container .tags.container .checkbox.checked {
        color: #004100;
        background-color: lightgreen;
        border-color: #1aaf1a; }
        .main.container .tags.container .checkbox.checked:hover {
          background-color: #1aaf1a; }
        .main.container .tags.container .checkbox.checked:after {
          content: "";
          display: inline-block;
          background-image: url("../check_mark.svg");
          background-repeat: no-repeat;
          background-size: cover;
          width: 4rem;
          height: 4rem;
          position: absolute;
          left: 3rem;
          top: 50%;
          transform: translateY(-50%); }
